body{
  font-family: 'Roboto', 'Ubuntu', sans-serif;
}

.jimarb-logo{
  height: 50px;
}

.hero-section{
  background-image: url(../img/header-img.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: bottom;
  -webkit-filter: saturate(120%); /* Safari 6.0 - 9.0 */
  filter: saturate(120%);
  height: 90vh;
  padding:10rem 3.125rem;
}

.hero-title {
  font-family: 'Ubuntu';
  font-weight: 300;
}

span{
  font-family: 'Ubuntu';
  font-weight: 400;
}
